node_modules/
package-lock.json
pnpm-lock.yaml
.nyc_output/
packages/*/coverage
*.swp
dist/
target/
Cargo.lock
.next/
next-env.d.ts
.venv/
tsconfig.tsbuildinfo
/tsconfig.json
/.vim/
i18n-*.ts
i18n-*.tsx
